<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <title>SCS App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- styles -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css"> -->
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" /> -->
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" /> -->
  </head>
  <body>
    <div class="container">
      <h1>SCS App</h1>
      <br>
      <div id="main"></div>
    </div>
    <!-- scripts -->
    <!-- <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script> -->
    <script src="{{ url_for('static', filename='bower_components/react/index.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/react-dom/index.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/material-ui/index.js') }}"></script>
    <script src="{{ url_for('static', filename='cas/scripts/js/bundle.js') }}"></script>
  </body>
</html>
